<?xml version="1.0"?>
<launch>
    <arg name="rviz_path" default="$(find emcl_ros)/launch/rviz.rviz"/>
    <arg name="map_path" default="$(find emcl_ros)/maps/map.yaml"/>
    <arg name="use_cloud" default="true"/>
    <arg name="use_dynamic_reconfigure" default="true"/>
    <arg name="use_gyrodom" default="false"/>

    <include file="$(find emcl_ros)/launch/emcl.launch">
        <arg name="output" value="screen"/>
        <arg name="use_cloud" value="$(arg use_cloud)"/>
        <arg name="use_dynamic_reconfigure" value="$(arg use_dynamic_reconfigure)"/>
        <arg name="odom_topic" value="/gyrodom" if="$(arg use_gyrodom)"/>
    </include>
    <node pkg="gyrodometry_ros" type="gyrodometry_node" name="gyrodometry_node" output="screen" if="$(arg use_gyrodom)"/>
    <include file="$(find scan_to_pcl_ros)/launch/scan_to_pcl.launch" if="$(arg use_cloud)">
        <arg name="frame_id" default="base_footprint"/>
    </include>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_path)"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_path)" output="screen"/>
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="emcl_reconf" if="$(arg use_dynamic_reconfigure)"/>
</launch>
